/* ============================== Date change reservation ============================== */
.ticket_list li{
	display: inline-block;
}
.ticket_list{
	padding-left: 0px !important;
}
.ticket_passenger{
	margin-right: 10px;
}
